pandas==2.3.3
numpy==1.26.4
opencv-python==4.11.0.86
matplotlib==3.9.4
pydicom==2.4.4
scikit-learn==1.6.1
tqdm==4.68.2
PyYAML==6.0.3
ultralytics==8.4.66
torch==2.8.0
torchvision==0.23.0
torchmetrics
pycocotools
